<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-pejonic-plugin-exoplayer"
        version="2.5.7">

    <name>ExoPlayer</name>
    <description>Cordova Plugin implementing ExoPlayer video/audio player</description>
    <keywords>ecosystem:cordova,cordova-android,phonegap,cordova,ionic,android,exoplayer,exo,video,player</keywords>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/ExoPlayer.js" target="js/exoplayer.js"/>

    <js-module src="www/exoplayer.js" name="ExoPlayer">
        <clobbers target="ExoPlayer"/>
    </js-module>

    <platform name="android">
        <framework src="com.google.android.exoplayer:exoplayer:r2.5.2"/>
        <framework src="com.android.support:customtabs:23.3.0"/>
        <framework src="com.squareup.picasso:picasso:2.5.2"/>
        <framework src="com.android.support:support-v4:24.1.1+"/>
        <framework src="com.googlecode.android-query:android-query:0.25.9"/>
        <framework src="com.android.support:recyclerview-v7:23.4.0"/>
        <framework src="com.android.support:mediarouter-v7:25.2.0"/>
        <framework src="com.android.support:appcompat-v7:23.3.0"/>


        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ExoPlayer">
                <param name="android-package" value="co.pejonic.cordova.plugin.exoplayer.Plugin"/>
            </feature>
        </config-file>

        <source-file src="src/res/values/ids.xml" target-dir="res/values/"/>
        <source-file src="src/res/layout/exo_simple_player_view.xml" target-dir="res/layout/"/>
        <source-file src="src/res/layout/exo_playback_control_view.xml" target-dir="res/layout/"/>
        <source-file src="src/res/layout/list_divider.xml" target-dir="res/layout/"/>
        <source-file src="src/res/layout/track_selection_dialog.xml" target-dir="res/layout/"/>

        <source-file src="src/res/drawable/hplib_ic_settings.xml" target-dir="res/drawable/"/>


        <source-file src="src/android/CallbackResponse.java" target-dir="src/co/pejonic/cordova/plugin/exoplayer/"/>
        <source-file src="src/android/Configuration.java" target-dir="src/co/pejonic/cordova/plugin/exoplayer/"/>
        <source-file src="src/android/LayoutProvider.java" target-dir="src/co/pejonic/cordova/plugin/exoplayer/"/>
        <source-file src="src/android/Payload.java" target-dir="src/co/pejonic/cordova/plugin/exoplayer/"/>
        <source-file src="src/android/Player.java" target-dir="src/co/pejonic/cordova/plugin/exoplayer/"/>
        <source-file src="src/android/Plugin.java" target-dir="src/co/pejonic/cordova/plugin/exoplayer/"/>
        <source-file src="src/android/CastTimeline.java" target-dir="src/co/pejonic/cordova/plugin/exoplayer/"/>
        <source-file src="src/android/CastTimelineTracker.java" target-dir="src/co/pejonic/cordova/plugin/exoplayer/"/>
        <source-file src="src/android/CastUtils.java" target-dir="src/co/pejonic/cordova/plugin/exoplayer/"/>
        <source-file src="src/android/DefaultCastOptionsProvider.java" target-dir="src/co/pejonic/cordova/plugin/exoplayer/"/>
        <source-file src="src/android/ExpandedControlsActivity.java" target-dir="src/co/pejonic/cordova/plugin/exoplayer/"/>
        <source-file src="src/android/TrackSelectionHelper.java" target-dir="src/co/pejonic/cordova/plugin/exoplayer/"/>
        <source-file src="src/android/Util.java" target-dir="src/co/pejonic/cordova/plugin/exoplayer/"/>

        

    </platform>
</plugin>